.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    margin-left: auto;
    border-radius: 4px;
    padding: 8px 12px;
    background-color: #3f51b5;
    color: #fff;
}

.button:hover,
.button:focus {
    background-color: #303f9f;
}

.button:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* !--------------------------------------- */

.ContactListItem {
    position: relative;
    display: flex;
    align-items: center;

    padding: 20px;
    margin-bottom: 5px;

    border: 1px solid #000000;
    border-radius: 4px;
}



.ContactListText {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 24px;
    margin-left: 24px;

    font-size: 20px;
    font-weight: 700;

    color: #ac0000;
}


.ContactListNumber {
    color: #000c75;
}


.ContactListEditBtn {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;

    margin-left: auto;
    margin-right: 24px;
    border-radius: 4px;
    padding: 12px 24px;
    background-color: #006655;
    color: #ffffff;
    font-weight: 500;

    box-shadow: 0px 4px 4px #00000026;
}

.ContactListEditBtn:hover,
.ContactListEditBtn:focus {
    background-color: #00b38c;
}

.ContactListDeleteBtn {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;

    /* margin-left: auto; */
    border-radius: 4px;
    padding: 12px 24px;
    background-color: #810000;
    color: #ffffff;
    font-weight: 500;

    box-shadow: 0px 4px 4px #00000026;
}



.ContactListDeleteBtn:hover,
.ContactListDeleteBtn:focus {
    background-color: #be0000;
}