/* import styled from '@emotion/styled'; */


/* .form {
    display: flex;
    width: 100%;
    gap: 4px;
    margin-bottom: 12px;
}

.input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font: inherit;
    line-height: 16px;
    letter-spacing: 0.01em;
    resize: none;
}

.button {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #3f51b5;
    color: #fff;
}

.button:hover,
.button:focus {
    background-color: #303f9f;
}

.button:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */





.Form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;

    border: 2px solid #707070;
    border-radius: 8px;
    box-shadow: 0px 4px 4px #00000026;
    background-color: #ffd7b8;
}

.FormLabel {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 18px;
    font-weight: 500;
    color: #382600;

}

.FormBtn {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    align-items: center;
    /* margin-left: auto; */
    border-radius: 4px;
    padding: 8px 48px;
    background-color: #382600;
    color: #ffffff;
    font-weight: 500;

    box-shadow: 0px 4px 4px #00000026;
}




.FormBtn:hover,
.FormBtn:focus {
    background-color: #795200;
}


.FormInput {
    font-weight: 600;
    color: #612c00;
}